<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li> 
        {{ end }}
        {{ with $data.contactinfo }}
        <li><a href='{{ "#footer" }}'>{{ i18n "NAV_CONTACT" . }}</a></li>
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        {{ with .instagram }}
        <li><a href="{{ . }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        {{ end }}
        {{ with .github }}
        <li><a href="{{ . }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
